.container {
  display: flex;
}

.content {
  margin-left: 200px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
}

.body {
  padding: 20px;
  padding-top: 0px;
}

.section {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 20px;
  gap: 5px;
}

.group {
  flex: 1;
}

.box {
  background: white;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.box h3 {
  font-size: 14px;
  font-weight: bold;
  color: #ffff;
  background: linear-gradient(180deg, rgba(208, 46, 28, 1) 0%, rgba(121, 30, 30, 1) 100%);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.item {
  display: flex;
  margin-top: 10px;
  background-color: #F4F4F4;
  border-radius: 10px;
}

.item-date {
  background: rgb(208, 46, 28);
  background: linear-gradient(180deg, rgba(208, 46, 28, 1) 0%, rgba(121, 30, 30, 1) 100%);
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  margin-right: 0;
}

.item-date p {
  margin: 0;
}

.date {
  margin: 0px;
}

.item-details {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-details p {
  margin: 5px 0;
  font-size: 13px;
  color: #5C5756;
  text-align: left;
}

.stats {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.card {
  flex: 1;
  padding: 0px 20px;
  background: linear-gradient(180deg, rgba(208, 46, 28, 1) 0%, rgba(121, 30, 30, 1) 100%);
  border-radius: 20px;
  color: white;
}

.card h3 {
  font-size: 15px;
  font-weight: bold;
}

.card p {
  font-size: 20px;
  margin-top: 0px;
  float: right;
  font-weight: bold;
}

.calendar-box {
  flex: 1;
  margin-left: 20px;
  background: white;
  border-radius: 8px;
  padding: 5px 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  font-size: 12px;
  margin-left: 5px;
  padding-bottom: 20px;
  align-content: center;
}

.calendar-box h3 {
  font-size: 14px;
  font-weight: bold;
  color: #D02E1C;
  text-align: center;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 0;
  margin-top: -15px;
  font-size: 10px;
}

.calendar-weekday p {
  text-align: center;
  font-weight: bold;
  color: #5C5756;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.calendar-grid p {
  text-align: center;
  padding: 3px;
  border-radius: 4px;
  font-size: 10px;
}

.calendar-day {
  background: #f0f0f0;
  border-radius: 4px;
}

.calendar-day.event-day {
  background: #D02E1C;
  color: white;
}

.calendar-day.sunday {
  background-color: rgb(102, 102, 102);
  color: white;
}

.selected {
  background: #D02E1C;
  color: white;
}

.chart {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.chart-item {
  flex: 1;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-item h3 {
  font-size: 16px;
  font-weight: bold;
  color: #D02E1C;
  margin-bottom: 15px;
}

@media (max-width: 480px) {
  .box h3,
  .item-details p {
      font-size: 12px;
  }

  .card h3 {
      font-size: 14px;
  }

  .calendar-box h3 {
      font-size: 12px;
  }

  .calendar-weekday p {
      font-size: 8px;
  }

  .calendar-grid p {
      font-size: 8px;
  }

  .chart-item h3 {
      font-size: 14px;
  }

  .container {
      flex-direction: column;
      margin-left: 40px;
  }

  .content {
      margin-left: 0;
      width: 100%;
  }

  .section {
      flex-direction: column;
      gap: 10px;
  }

  .stats {
      flex-direction: column;
      gap: 10px;
  }

  .calendar-box {
      max-width: 100%;
      margin-left: 0;
  }

  .chart {
      flex-direction: column;
      gap: 10px;
  }

  .chart-item {
      min-width: 100%;
      width: 100%;
      overflow-x: auto;
      padding-bottom: 10px;
      box-sizing: border-box;
  }

  .chart-item canvas {
      max-width: none;
      width: 100%;
      height: auto;
  }
}
